.account-container{
    padding: 10px;
    height: 100vh;
    background-color: #212121;
    
}
.account-container-header{
    font-size: xx-large;
}
.account-container>div:not(:first-child){
    margin: 15px;
    font-size: xx-large;
}