.allmovies-container{
    height: 100vh;
    background-color: #212121;
}
.gridContainer{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}
.griditem{
    padding: 5px;
    
}
.thumbnailImg{
    width: 200px;
    height: 250px;

    &&:hover{
        opacity: 0.7;
    }
}