* {
  color: #ffffff;
}
.homeContainer {
  position: relative;
  margin-top: -79.8px;
  background: rgb(33, 33, 33);
  background: linear-gradient(
    245deg,
    rgba(33, 33, 33, 1) 0%,
    rgba(57, 40, 40, 1) 100%
  );
}
.genreName {
  margin-left: 30px;
}
.seeallBtn {
  color: #ffffff;
  margin-right: 30px;
  opacity: 0.5;
  font-weight: 500;

  text-decoration: none;
  /* align-self: center; */
}

.seeallBtn:hover {
  opacity: 1;
  cursor: pointer;
}
.titleBar {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-banner-blur {
  position: absolute;
  height: 700px;
  width: 100%;
  left: 0px;
  z-index: 1;
  background: rgb(33, 33, 33);
  background: linear-gradient(
    90deg,
    rgba(33, 33, 33, 1) 0%,
    rgba(33, 33, 33, 1) 22%,
    rgba(33, 33, 33, 1) 27%,
    rgba(33, 33, 33, 0.98) 35%,
    rgba(33, 33, 33, 0.96) 43%,
    rgba(33, 33, 33, 0.94) 46%,
    rgba(33, 33, 33, 0.92) 50%,
    rgba(33, 33, 33, 0.8968837535014006) 52%,
    rgba(33, 33, 33, 0.7988445378151261) 55%,
    rgba(33, 33, 33, 0.75) 57%,
    rgba(33, 33, 33, 0.7008053221288515) 58%,
    rgba(33, 33, 33, 0.5971638655462185) 61%,
    rgba(33, 33, 33, 0.5019257703081232) 64%,
    rgba(33, 33, 33, 0.35066526610644255) 75%,
    rgba(33, 33, 33, 0.24702380952380953) 86%,
    rgba(33, 33, 33, 0) 100%
  );
}
