
*{
  color: #ffffff;  
}
.homeContainer{
    position: relative;
    margin-top: -79.8px;
    z-index: 0;
    background-color: #212121;
}
.genreName{
    margin-left: 30px;
}
.seeallBtn{
    color: #ffffff;
    margin-right: 30px;
    opacity: 0.5;
    font-weight: 500;
   
    text-decoration: none;
    /* align-self: center; */
}

.seeallBtn:hover{
    opacity: 1;
    cursor: pointer;
    
}
.titleBar{
   
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}