.rootHeaderContainer {
  padding-top: 0px;
}

.headerContainer {
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  z-index: 5;
  background-color: #212121c0;
}
.header {
  display: flex;
  justify-content: space-between;
}
.hamburgerMenuIcon {
  z-index: 3;
  margin-left: 10px;
  width: 30px;
  height: 40px;
}
.hamburgerMenu {
  z-index: 3;
  transform: translateX(-200px);
  padding-left: 10px;
  margin-top: -10px;
  transition: transform 0.5s ease-out;
  background-color: #212121;
  position: fixed;
  height: 100%;
  width: 200px;
  padding: 10px;
}

.hamburgerMenuList {
  margin-top: 70px;
  list-style-type: none;
}
.hamburgerMenu-active {
  z-index: 3;
  transform: translateX(0px);
  transition: transform 0.5s ease-out;
  padding-left: 10px;
  margin-top: -10px;
  background-color: #212121;
  position: fixed;
  height: 100%;
  width: 200px;
  padding: 10px;
}

.hamburgerMenuList > li {
  padding-bottom: 10px;
}
.hamburgerMenuList > li > .navLink {
  color: rgb(132, 138, 144);
  cursor: pointer;
  text-decoration: none;
}
.hamburgerMenuList > li > .navLink:hover {
  color: aliceblue;
  cursor: pointer;
  text-decoration: none;
}

.cancelIcon {
  margin-right: 5px;
  position: absolute;
  right: 0px;
  width: 40px;
  height: 40px;
}
.cancelIcon:hover {
  opacity: 0.5;
}

.genreBtnContainerAndhamburgerMenuIcon-Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.genreBtnContainer {
  margin-left: 150px;
  position: relative;
}
.genreBtn {
  position: relative;
  background-color: #212121;
  height: fit-content;
  width: fit-content;
  border: 1px solid rgb(132, 138, 144);
  padding: 5px 30px 7px 30px;
  color: rgb(132, 138, 144);
  border-radius: 15px;
  text-align: center;
  letter-spacing: 2px;
  z-index: 2;
}
.genreBtn-blur {
  position: relative;
  pointer-events: none;
  background-color: #212121;
  height: fit-content;
  width: fit-content;
  border: 1px solid rgb(132, 138, 144);
  padding: 5px 30px 7px 30px;
  color: rgb(132, 138, 144);
  border-radius: 15px;
  text-align: center;
  letter-spacing: 2px;
  z-index: 2;
  filter: blur(5px);
}
.genreBtn:hover {
  cursor: pointer;
  color: aliceblue;
  border: 1px solid aliceblue;
}

.genreList {
  border-radius: 17px;
  position: absolute;
  margin-left: -3px;
  z-index: 1;
  width: 120px;
  height: auto;
  margin-top: -40px;
  background-color: #212121;
  padding: 45px 10px 10px 10px;
}
.searchBtn {
  z-index: 1;
  padding-left: 2px;
  padding: 3px;
  justify-content: space-around;
  display: flex;
  border-radius: 20px;
  height: 40px;
  width: 220px;
  margin-right: 20px;
}

.searchInput {
  height: 100%;
  border: none;
  background-color: #212121;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding-left: 10px;
  color: azure;
}

.searchIcon {
  height: 100%;
}
.searchBtn-blur {
  filter: blur(5px);
  z-index: 1;
  pointer-events: none;
  padding-left: 2px;
  padding: 3px;
  justify-content: space-around;
  display: flex;
  border-radius: 20px;
  height: 40px;
  width: 220px;
  margin-right: 20px;
}

.searchIcon:hover {
  background-image: url("../assets/searchIconHover.png");
  opacity: 0.7;
}
.blur {
  filter: blur(5px);
}
.disable-home {
  pointer-events: none;
}
.genreList > ul > li {
  list-style-type: none;
}

.genreList > ul > li > .genreNavLink {
  text-decoration: none;
  font-size: small;
  color: rgb(132, 138, 144);
}
.genreList > ul > li > .genreNavLink:hover {
  color: aliceblue;
}
.logoutAlert {
  z-index: 5;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
  height: 250px;
  left: 50%;
  right: 50%;
  transform: translate(-50%, 50%);
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}
.logoutAlertText {
  margin: auto;
  width: 70%;
  font-size: larger;
  color: black;
}
.logoutOptions {
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
.logoutConfirm {
  padding: 10px;
  border-radius: 5px;
  color: aliceblue;
  background-color: red;
}
.logoutConfirm:hover {
  cursor: pointer;
  opacity: 0.7;
}
.logoutCancel {
  padding: 10px;
  border-radius: 5px;
  color: aliceblue;
  background-color: rgb(0, 162, 255);
}
.logoutCancel:hover {
  cursor: pointer;
  opacity: 0.7;
}

.moviesforyou {
  font-size: 100px;
}
.footer {
  position: relative;
  height: 500px;
  background-color: #1b1b1b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.middle-footer-content {
  display: flex;
  align-items: center;
  line-height: 100%;
  justify-content: center;
  font-size: xx-large;
}
.recorder-icon {
  height: 64px;
  width: 64px;
  margin-right: 5px;
}
.bottom-footer-content{
  position:absolute;
  bottom: 8px;
  
}
.bottom-footer-link{
  text-decoration: none;
  margin-left: 10px;
  color: rgb(196, 196, 196);
  &&:hover{
    color: rgb(241, 241, 241);
  }
  
}