@media only screen and (max-width: 480px) {
  .emptyTopDiv {
    height: 50%;
  }
  .movieAudio {
    margin-top: 5px;
    padding-left: 25px;
    font-size: small;
    opacity: 0.5;
  }
  .middleDiv {
    align-items: center;
    height: 5%;
    padding-left: 25px;
    font-size: 14px;
    display: flex;
    color: #ffffff7c;
  }
  
  .imdbIcon {
    height: 25px;
    width: 25px;
    margin-right: 6px;
  }
  .genre {
    margin-left: 15px;
    opacity: 0.5;
  }
  .banner-movie-name {
    font-size: 20px;
    padding-left: 25px;
  }

  .banner-movie-description {
    font-size: 13px;
    width: 57%;
    padding-left: 25px;
    color: #adb5bd;
    height: 70px;
    overflow: hidden;
    opacity: 0.7;
  }

  .watchnow-button {
    /* margin-left: 10px;
    margin-right: 10px; */
    align-self: center;
    margin-top: 7px;
    width: 85%;
    padding: 10px;
    border-radius: 15px;
    background-color: #212121;
    border: 2px solid white;
    font-weight: 600;
    font-size: large;

    &&:hover {
      background-color: white;
      color: black;
    }
  }

  .left-banner-blur {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 480px;
    width: 100%;
    left: 0px;
    z-index: 1;
    background: rgb(33, 33, 33);
    background: linear-gradient(
      0deg,
      rgba(33, 33, 33, 1) 0%,
      rgba(33, 33, 33, 1) 22%,
      rgba(33, 33, 33, 1) 27%,
      rgba(33, 33, 33, 0.98) 35%,
      rgba(33, 33, 33, 0.96) 43%,
      rgba(33, 33, 33, 0.94) 46%,
      rgba(33, 33, 33, 0.92) 50%,
      rgba(33, 33, 33, 0.8968837535014006) 52%,
      rgba(33, 33, 33, 0.7988445378151261) 55%,
      rgba(33, 33, 33, 0.75) 57%,
      rgba(33, 33, 33, 0.7008053221288515) 58%,
      rgba(33, 33, 33, 0.5971638655462185) 61%,
      rgba(33, 33, 33, 0.5019257703081232) 64%,
      rgba(33, 33, 33, 0.35066526610644255) 75%,
      rgba(33, 33, 33, 0.24702380952380953) 86%,
      rgba(33, 33, 33, 0) 100%
    );
  }
}

@media only screen and (min-width: 481px) {
 
  .emptyTopDiv {
    height: 30%;
  }
  .banner-movie-name {
    font-size: 35px;
    padding-left: 10px;
  }

  .banner-movie-description {
    width: 37%;
    padding-left: 10px;
    color: #adb5bd;
    height: 90px;
    overflow: hidden;
  }
  .movieAudio {
    margin-top: 5px;
    padding-left: 10px;
    font-size: large;
    opacity: 0.5;
  }
  .middleDiv {
    align-items: center;
    height: 6%;
    padding-left: 10px;
    font-size: 18px;
    display: flex;
    color: #ffffff7c;
  }
  .imdbIcon {
    height: 35px;
    width: 35px;
    margin-right: 6px;
  }
  .genre {
    margin-left: 15px;
    opacity: 0.5;
  }
  .watchnow-button {
    width: 25%;
    margin-top: 20px;
    margin-left: 10px;
    padding: 5px;
    border-radius: 15px;
    background-color: #212121;
    border: 2px solid white;
    font-weight: 600;
    font-size: large;

    &&:hover {
      background-color: white;
      color: black;
    }
  }

  .left-banner-blur {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    height: 620px;
    width: 100%;
    left: 0px;
    z-index: 1;
    background: rgb(33, 33, 33);
    background: linear-gradient(
      90deg,
      rgba(33, 33, 33, 1) 0%,
      rgba(33, 33, 33, 1) 22%,
      rgba(33, 33, 33, 1) 27%,
      rgba(33, 33, 33, 0.98) 35%,
      rgba(33, 33, 33, 0.96) 43%,
      rgba(33, 33, 33, 0.94) 46%,
      rgba(33, 33, 33, 0.92) 50%,
      rgba(33, 33, 33, 0.8968837535014006) 52%,
      rgba(33, 33, 33, 0.7988445378151261) 55%,
      rgba(33, 33, 33, 0.75) 57%,
      rgba(33, 33, 33, 0.7008053221288515) 58%,
      rgba(33, 33, 33, 0.5971638655462185) 61%,
      rgba(33, 33, 33, 0.5019257703081232) 64%,
      rgba(33, 33, 33, 0.35066526610644255) 75%,
      rgba(33, 33, 33, 0.24702380952380953) 86%,
      rgba(33, 33, 33, 0) 100%
    );
  }
}
