@media only screen and (max-width:480px){
  .search-container {
    z-index: 1;
    padding-left: 2px;
    padding: 3px;
    position: relative;
    border-radius: 20px;
    height: 40px;
    width: 220px;
    margin-right: 3px;
  }
  
  .search-container-blur {
    filter: blur(5px);
    z-index: 1;
    pointer-events: none;
    padding-left: 2px;
    padding: 3px;
    justify-content: space-around;
    display: flex;
    border-radius: 20px;
    height: 40px;
    width: 220px;
    margin-right: 20px;
  }
  .searchInput {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
    width: 105px;
    font-size:xx-small;
    height: 70%;
    border: none;
    margin-right: 2px;
    background-color: rgb(2, 18, 29);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-left: 10px;
    color: azure;
  }

 


  
  
  .searchIcon {
    margin-right: 4px;
    position: absolute;
    right: 0px;
    height: 25px;
    top: 50%;
    transform: translateY(-50%);
    vertical-align: middle;
    &&:hover {
      background-image: url("../assets/searchIconHover.png");
      opacity: 0.7;
    }
    
  }
  
}


@media only screen and (min-width:482px){
  .search-container {
    z-index: 1;
    padding-left: 2px;
    padding: 3px;
    justify-content: space-around;
    display: flex;
    border-radius: 20px;
    height: 40px;
    width: 220px;
    margin-right: 20px;
  }
  
  .search-container-blur {
    filter: blur(5px);
    z-index: 1;
    pointer-events: none;
    padding-left: 2px;
    padding: 3px;
    justify-content: space-around;
    display: flex;
    border-radius: 20px;
    height: 40px;
    width: 220px;
    margin-right: 20px;
  }
  .searchInput {
    height: 100%;
    border: none;
    width: 120px;
    margin-right: 2px;
    background-color: rgb(2, 18, 29);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-left: 10px;
    color: azure;
  }
  
  .searchIcon {
    height: 30px;
    vertical-align: middle;
    &&:hover {
      background-image: url("../assets/searchIconHover.png");
      opacity: 0.7;
    }
  }
}


